<html>
<head>
    <title>Scoreboard</title>

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

    <!-- our javascript -->
    <script type="text/javascript" src="javascripts/app.js"></script>

    <!-- templates -->
    <script type="text/template" id="round">
        <div data-role="collapsible" data-collapsed="<%= !active %>">
            <%
            var person = "";
            if(active){
                person = "(P"+player+"'s turn)";
            }
            if(complete){
                person = "(P"+player+" wins)";
            }
            %>
            <h3>Round <%= round_number %> <%= person %></h3>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <%= p1_score %>
                </div>
                <div class="ui-block-b">
                    <%= p2_score %>
                </div>
            </div>
        </div>
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="score_card" data-role="page">

    <div data-role="header" data-position="fixed">
        <h3>Scorecard</h3>
        <button id="refresh" data-icon="refresh" data-iconpos="notext">Reset</button>
    </div>

    <div data-role="content">
        <!--<div id="player_buttons" class="ui-grid-a">-->
            <!--<div class="ui-block-a">-->
                <!--<button id="p1_button" data-mini=true data-icon='check'>P1</button>-->
            <!--</div>-->
            <!--<div class="ui-block-b">-->
                <!--<button id="p2_button" data-mini=true>P2</button>-->
            <!--</div>-->
        <!--</div>-->

        <div data-role="collapsible-set" data-mini=true style="text-align: center;">
            <!-- scores go here -->
        </div>
    </div>

    <div data-role="footer" style="text-align: center;" data-position="fixed">
        <div data-role="controlgroup" data-type="horizontal">
            <button id="points_0">0 Points</button>
            <button id="points_1">1 Point</button>
            <button id="points_5">5 Points</button>
            <button id="points_21">21 Points</button>
        </div>
    </div>
</div>

</body>
</html>